.newArrivalsSection {
  padding: 2rem 1rem; // Padding for spacing
  background-color: #f9f9f9;
  text-align: center;

  @media (max-width: 480px) {
    padding: 1rem; // Adjust padding for smaller screens
  }
}

.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-fill-color: var(--c-black);
  padding: 3rem;
  margin-bottom: 2rem; // Increased margin for spacing

  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); // Shadow for depth

  @media (max-width: 480px) {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.newArrivalsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); // Responsive columns
  gap: 1.5rem; // Gap between items
  max-width: 1200px;
  margin: 0 auto; // Center the grid

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); // Two products per row on mobile
    gap: 1rem; // Reduce gap for smaller devices
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr); // Ensures two columns on very small screens
  }
}

.productCard {
  background-color: #fff;
  border-radius: 10px; // Rounded corners
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow
  overflow: hidden; // Hide overflow
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; // Smooth transitions

  &:hover {
    transform: translateY(-5px); // Lift effect on hover
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); // Darker shadow on hover
  }

  .imageWrapper {
    height: 200px; // Consistent image height
    overflow: hidden; // Hide overflow
    display: flex;
    justify-content: center; // Center the image
    align-items: center; // Center the image
    background-color: #f1f1f1; // Light background for image placeholder

    .productImage {
      width: 100%;
      height: 100%;
      object-fit: cover; // Cover the area without distortion
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05); // Zoom effect on hover
      }
    }
  }

  .buyButton {
    background-color: #c7983c; // Button color
    color: white;
    padding: 0.8rem 1.5rem; // Button padding
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase; // Uppercase text
    transition:
      background-color 0.3s ease,
      transform 0.3s ease; // Button transitions

    &:hover {
      background-color: #a77c2d; // Darker button on hover
      transform: translateY(-2px); // Lift effect on hover
    }
    @media (max-width: 480px) {
      font-size: 0.8rem;
      padding: 0.4rem 0.7rem;
      .buyButton {
        width: fit-content;
      }
    }
  }
}
