.cataloguePage {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color:var(--c-light);
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      color: var(--c-font-dark-2);
    }

    p {
      font-size: 1.2rem;
      color: var(--c-font-dark);
      margin: 1.5rem 0;
    }

    .exploreButton {
      background-color: var(--c-primary);
      color: var(--c-light);
      border: none;
      padding: 0.8rem 1.5rem;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--c-red);
      }
    }
  }

  .carousel {
    flex: 1.5;
    display: flex;
    overflow-x: auto;
    padding-left: 2rem;

    .carouselItem {
      position: relative;
      min-width: 300px;
      height: 450px;
      margin-right: 1.5rem;
      background-color: var(--c-light);
      box-shadow: 0 4px 8px var(--c-shadow);
      border-radius: 8px;
      overflow: hidden;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-bottom: 4px solid var(--c-primary);
      }

      .carouselText {
        padding: 1rem;
        text-align: center;

        span {
          font-size: 0.9rem;
          color: var(--c-orange);
        }

        h2 {
          font-size: 1.5rem;
          color: var(--c-dark);
          margin-top: 0.5rem;
        }
      }
    }
  }

  @media (max-width: 1279px) {
    flex-direction: column;

    .carousel {
      padding-left: 0;
    }

    .content {
      padding-right: 0;
      margin-bottom: 2rem;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.1rem;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;

    .content {
      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .carousel {
      flex-direction: column;
      align-items: center;

      .carouselItem {
        width: 90%;
        margin: 1rem 0;
      }
    }
  }

  @media (max-width: 480px) {
    .content {
      h1 {
        font-size: 1.8rem;
      }

      p {
        font-size: 0.9rem;
      }

      .exploreButton {
        padding: 0.6rem 1rem;
        font-size: 0.9rem;
      }
    }

    .carousel {
      .carouselItem {
        width: 100%;
        min-width: unset;
        margin: 1rem 0;
      }
    }
  }
}
