.footer {
  background-color: var(--c-bg);
  padding: 40px 0;
  font-family: var(--ff-primary);
  color: var(--c-font-dark);

  .container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .col {
    flex: 1;
    margin: 10px 10px;

    h3,
    h4 {
      font-size: 1.2rem;
      margin-bottom: 20px;
      font-weight: bolder;
      color: var(--c-dark);
    }

    p {
      font-size: 1rem;
      line-height: 1.5;
      color: var(--c-font);
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: var(--c-font-dark);
          transition: color 0.3s ease;

          &:hover {
            color: var(--c-black);
          }
        }

        &.email > a {
          display: flex;
          align-items: center;
          font-size: 1rem;

          & > span {
            margin-right: 0.25rem;
            font-size: 1.2rem;
            color: var(--c-font-dark);
          }
        }

        &.socialIcons {
          display: flex;
          gap: 10px;
          margin-top: 20px;

          a {
            font-size: 1.2rem;
            color: var(--c-font-dark);
            transition: color 0.3s ease;

            .material-icons {
              font-size: 1.5rem;
              transition: color 0.3s ease;
            }
          }
        }
      }
    }
  }

  .companyName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--c-primary-dark);
  }

  .footerBottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid var(--c-border);

    p {
      font-size: 0.9rem;
      color: var(--c-font-light);
    }
  }
}
