.outerNav {
  background-color: var(--c-white);
  width: 100%;
  z-index: 99;
  padding: 0.5rem;
  top: 0rem;
  position: fixed;
  user-select: none;
  box-shadow: 0px 4px 16px var(--c-shadow);
  transition: all 0.5s ease;
}

.outerNavScrolled {
  box-shadow: none;
  background-color: transparent;
}

.nav {
  position: fixed;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--c-white);
  // padding: 0rem 1.5rem;
  color: var(--c-black);
  font-family: var(--ff-title);
  font-weight: 600;
  line-height: 1.438rem;
  font-size: 1rem;
  font-style: normal;
  position: relative;
  width: 100%;
  transition: all 0.5s ease;
}

.scrolled {
  transform: translateY(0.5rem);
  box-shadow: 0px 5px 12px var(--c-shadow);
  border-radius: 15px;
}

.left {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
  padding-top: 0;
  padding-left: 0.5rem;

  & > a {
    padding: 0rem;
    transition: all 0.5s ease;
    width: 100%;
    display: flex;
    align-items: center;

    .img {
      display: flex;
      align-items: center;
      height: 2rem;
      width: 100%;

      & > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    & > span {
      font-size: 1rem;
      font-weight: 600;
      color: var(--c-black);
      white-space: nowrap;
      padding-left: 0.5rem;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.right {
  .navLinks {
    display: flex;
    color: var(--c-black);
  }
}

.navLinks {
  display: flex;

  a {
    padding: 0.5rem;
    font-size: 0.75rem;
    cursor: pointer;
    color: var(--c-black);
    text-decoration: none;
    font-weight: 700;

    & > div {
      padding: 0rem 0.5rem;
    }

    &::after {
      content: '';
      border-bottom: 0.125rem solid var(--c-primary);
      width: 50%;
      margin: auto;
      display: block;
      transition: all 0.5s ease;
      opacity: 0;
    }

    &.active::after {
      opacity: 1;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}

.hamburger {
  display: none;
}

.fullscreenMenu {
  background: var(--c-orange-grad);
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;

  a {
    color: var(--c-bg);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    animation: fade-in 300ms ease-in forwards;

    &:last-child > div {
      background: none;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      scale: 2;
    }
    100% {
      opacity: 1;
      scale: 1;
    }
  }

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: var(--c-bg);
    font-size: 2rem;
  }
}

@media (max-width: 1279px) {
  .outerNavScrolled {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    background-color: var(--c-white);
  }

  .scrolled {
    top: 0;
    background-color: var(--c-white);
    box-shadow: none;
    transform: translateY(0rem);
    // padding: 0.5rem;
  }

  .left {
    padding: 0;

    & > a {
      &:hover {
        transform: scale(1);
      }

      .img {
        // height: 4rem;
        width: 3rem;
      }
    }

    .searchField {
      display: none;
    }
  }

  .right {
    display: none;
  }

  .hamburger {
    display: block;
    margin-right: 1rem;
  }

  .fullscreenMenu {
    display: flex;

    a {
      color: var(--c-white) !important;
      margin-bottom: 0.5rem;
      font-size: 1.25rem;

      &::after {
        border-bottom: 0.125rem solid var(--c-white);
        margin: initial;
      }

      & > div {
        padding: 0;
      }

      &:last-child {
        &::after {
          display: block;
        }
        & > div {
          padding: 0;
        }
      }
    }
  }

  .navLinks {
    flex-direction: column;

    & > a:last-child > div {
      color: var(--c-white);
      border-color: var(--c-white);
      // padding: 0.25rem 0.8rem;
      border-radius: 1.5rem;
    }
  }
}
