.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  grid-gap: 15px; 
}

.masonryItem {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.masonryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.masonryItem:hover .masonryImage {
  transform: scale(1.05);
}



@media (max-width: 768px) {
  .masonry {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 480px) {
  .masonry {
    grid-template-columns: repeat(4, 1fr); 
  }
}
