.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-fill-color: var(--c-black);
  padding: 3rem;
}

.topCatalogues {
  padding: 2rem;
  align-content: center;
  justify-content: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center; /* Center the grid */
  margin: 5px auto; /* Auto margin to center grid horizontally */
  max-width: 800px; /* Limit width to make it more centered */
  align-items: center;
}

@media (max-width: 1279px) {
  .title {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .topCatalogues {
    padding: 1rem;
  }

  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

/* Mobile view: Two columns */
@media (max-width: 768px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for mobile view */
    // grid-template-columns: 1fr; /* Single column for mobile view */
    gap: 15px;
    margin: 0 auto; /* Center grid for mobile */
  }
}
