.title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-text-fill-color: var(--c-black);
  padding: 3rem;
}

.topCatalogues {
  padding: 2rem;
  align-content: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
@media (max-width: 1279px) {
  .title {
    font-size: 1.2rem;
    padding: 1rem;
  }

  .topCatalogues {
    padding: 1rem;
  }

  .cardGrid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
