.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Mobile adjustments */
  @media (max-width: 768px) {
    height: auto; /* Allow content to take up necessary space */
  }
}

.swiperContainer {
  --swiper-navigation-sides-offset: 0rem;
  padding: 0 2rem;
  padding-bottom: 2rem;

  /* Mobile adjustments */
  @media (max-width: 768px) {
    padding: 0 1rem;
    padding-bottom: 1rem; /* Reduce bottom padding for mobile */
  }
}

// .dashboard {
//   padding: 0 1rem;
//   height: 100%;

//   /* Mobile adjustments */
//   @media (max-width: 768px) {
//     padding: 0; /* Remove padding to fit the swiper better */
//     height: auto; /* Allow height to adjust based on content */
//   }
// }

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  & > div {
    align-self: flex-end;
  }

  /* Mobile adjustments */
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center; /* Center content */
    height: auto; /* Adjust height to content */
  }
}
