.categories {
    padding: 2rem;
    align-content: center;
  }
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-text-fill-color: var(--c-black);
    padding: 3rem;
  }