.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: 20px 0;
  text-align: center;

  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--c-dark-2);
  }

  p {
    font-size: 1.2rem;
    color: var(--c-dark);
    line-height: 1.5;
  }
}

.imageContainer {
  margin-top: 20px;

  img {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
  }
}
